<template>
	<div class="gitlab-corner-wrapper">
		<a
			:href="url"
			target="_blank"
			rel="noopener noreferrer"
			class="gitlab-corner"
			aria-label="View source on GitLab"
			title="View source on GitLab"
			v-html="svgLogo"
		>
		</a>
	</div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'nuxt-property-decorator';

import GitLabCornersSVG from '@/assets/GitLabCorners.svg?raw';

@Component({
	name: 'GitLabCorners'
})
export default class GitLabCorners extends Vue {
	@Prop({ type: String, required: true }) url!: string;

	svgLogo = GitLabCornersSVG;
}
</script>

<style>
.gitlab-corner-wrapper {
	overflow: hidden;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
}

.gitlab-corner {
	position: absolute;
	top: -16px;
	right: -50px;
	transform: rotate(45deg);
	background: #548;
	border: 44px solid #548;
	border-bottom: none;
	border-top: #548 solid 16px;
}

.gitlab-corner svg {
	width: 60px;
	height: 60px;
	margin-bottom: -4px;
}

.cls-1 {
	fill: #fc6d26;
}

.cls-2 {
	fill: #e24329;
}

.cls-3 {
	fill: #fca326;
}

.gitlab-corner:hover .cls-1 {
	animation: cycle 0.6s;
}

.gitlab-corner:hover .cls-2 {
	animation: cycleMid 0.6s;
}

.gitlab-corner:hover .cls-3 {
	animation: cycleEnd 0.6s;
}

@keyframes cycle {
	100%,
	15%,
	60% {
		fill: #fc6d26;
	}

	30%,
	75% {
		fill: #e24329;
	}

	45%,
	90% {
		fill: #fca326;
	}
}

@keyframes cycleMid {
	100%,
	15%,
	60% {
		fill: #e24329;
	}

	30%,
	75% {
		fill: #fca326;
	}

	45%,
	90% {
		fill: #fc6d26;
	}
}

@keyframes cycleEnd {
	100%,
	15%,
	60% {
		fill: #fca326;
	}

	30%,
	75% {
		fill: #fc6d26;
	}

	45%,
	90% {
		fill: #e24329;
	}
}

@media (max-width: 500px) {
	.gitlab-corner:hover .cls-1,
	.gitlab-corner:hover .cls-2,
	.gitlab-corner:hover .cls-3 {
		animation: none;
	}

	.gitlab-corner .cls-1 {
		animation: cycle 0.6s;
	}

	.gitlab-corner .cls-2 {
		animation: cycleMid 0.6s;
	}

	.gitlab-corner .cls-3 {
		animation: cycleEnd 0.6s;
	}
}
</style>
