<template>
	<div class="columns is-centered">
		<div class="column is-three-fifths">
			<div class="box has-background-light">
				<div class="content">
					<p class="is-size-4">
						You need Firefox to use Iridium.
					</p>
					<b-button
						type="is-primary"
						size="is-medium"
						icon-pack="fab"
						icon-left="firefox-browser"
						tag="a"
						href="https://www.mozilla.org/en-US/firefox/new/"
						target="_blank"
						rel="noopener noreferrer"
					>
						Install Firefox
					</b-button>
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';

@Component({
	name: 'InstallFirefox'
})
export default class InstallFirefox extends Vue {}
</script>
