<template>
	<div>
		<GitLabCorners :url="myRepo" />
		<nuxt />
	</div>
</template>

<script lang="ts">
import Vue from 'vue';
import GitLabCorners from '@/components/GitLabCorners.vue';
import { MY_REPO } from '@/lib/constants';

export default Vue.extend({
	components: {
		GitLabCorners
	},
	data() {
		return {
			myRepo: MY_REPO
		};
	}
});
</script>
