<template>
	<section class="hero is-fullheight has-text-centered">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					<div class="columns is-centered is-vcentered">
						<div class="column is-narrow">
							<img
								class="image is-64x64"
								src="@/assets/icon.png"
								alt="Iridium icon"
							/>
						</div>
						<div class="column is-narrow">
							<a
								:href="repoUrl"
								target="_blank"
								rel="noopener noreferrer"
								>Iridium</a
							>
							for YouTube
						</div>
					</div>
				</h1>
				<h2 class="subtitle">YouTube with more freedom</h2>
				<section class="section" v-if="isFirefox">
					<div class="container">
						<div id="buttons-container" class="buttons is-centered">
							<b-button
								tag="a"
								:href="repoLatestUrl"
								type="is-primary"
								size="is-medium"
								icon-left="arrow-circle-down"
								:loading="isLoadingLatest"
								@click.prevent="downloadLatest"
							>
								Install from latest release
							</b-button>
							<b-button
								tag="a"
								:href="repoMasterUrl"
								type="is-danger"
								size="is-medium"
								icon-left="flask"
								:loading="isLoadingMaster"
								@click.prevent="downloadMaster"
							>
								Install from master
							</b-button>
						</div>
						<div class="columns is-centered">
							<div class="column is-half">
								<b-message
									type="is-info"
									size="is-medium"
									:closable="false"
									has-icon
								>
									If it doesn't work, try
									<a
										:href="manualInstallLink"
										target="_blank"
										rel="noopener noreferrer"
										>installing manually</a
									>.
								</b-message>
							</div>
						</div>
					</div>
				</section>
				<InstallFirefox v-else />
			</div>
		</div>
	</section>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator';
import { UAParser } from 'ua-parser-js';
import InstallFirefox from '@/components/InstallFirefox.vue';
import {
	REPO,
	REPO_LATEST_URL,
	REPO_MASTER_URL,
	MANUAL_INSTALL_LINK,
	LATEST_URL,
	MASTER_URL
} from '@/lib/constants';
import download from '@/lib/download';

@Component({
	name: 'Home',
	components: {
		InstallFirefox
	}
})
export default class Home extends Vue {
	isFirefox = true;
	repoUrl = REPO;
	repoLatestUrl = REPO_LATEST_URL;
	repoMasterUrl = REPO_MASTER_URL;
	manualInstallLink = MANUAL_INSTALL_LINK;
	isLoadingLatest = false;
	isLoadingMaster = false;

	created() {
		const parser = new UAParser();
		const browser = parser.getBrowser();

		this.isFirefox = browser.name === 'Firefox';
	}

	displayError(err: any) {
		const errMsg =
			err instanceof Error ? `Error: ${err.message}` : err.toString();

		this.$buefy.toast.open({
			message: errMsg,
			type: 'is-danger'
		});
	}
	async downloadLatest() {
		try {
			this.isLoadingLatest = true;

			await download(LATEST_URL);
		} catch (err) {
			this.displayError(err);
		} finally {
			this.isLoadingLatest = false;
		}
	}
	async downloadMaster() {
		try {
			this.isLoadingMaster = true;

			await download(MASTER_URL);
		} catch (err) {
			this.displayError(err);
		} finally {
			this.isLoadingMaster = false;
		}
	}
}
</script>

<style scoped>
#buttons-container {
	margin-bottom: 2rem;
}
</style>
